*           @udacity/active-public-content
*           https://stackoverflow.com/questions/14688117/how-to-make-circle-custom-progress-bar-in-android
*           https://stackoverflow.com/questions/61249638/drawing-a-progress-animation-in-custom-viewbutton-using-canvas-in-android